h1 {
    text-align: center;
    font-size: 60px;
    margin: 10px auto;
}

button,
input {
    background-color: lightblue;

}

/* .contentContainer { */
    /* width: 650px; */
    /* display: flex;
    margin-left: auto;
    margin-right: auto;
    border-color: red;
    border-style: solid; */

    /* align-self: center; */
    
/* } */

.contentContainer {
    width: 706px;
    /* 706 since pixelGrid has a
       border of 3px (3+3=6) */
    border-style:solid;
    border-color: green;
    border-width: 3px;
    margin: 0px;
    margin: auto;
}

.buttonContainer {
    display: flex;
    flex: 1;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px 0px;
}

.pixelGrid {
    border-style:solid;
    border-color:black;
    border-width: 3px;
    width: 700px;
    height: 700px;

    /* Didnt use border-box since
       I wanted a distinct size.
       Make sure to adjust content
       container by same amount if
       adjusting width and height
       here. Same for border width
       changes.  */

    display: flex;
    flex-wrap: wrap;
    gap: 0px 0px;
}

.pixel {
    box-sizing: border-box;
    /* important for pixels to prevent overflow*/
    width: 70px; 
    height: 70px;
    /* modify width and height in js */
    margin: 0px;
    padding: 0px;

    border-style:solid;
    border-color:rgb(44, 44, 44);
    border-width: 1px;
    background-color: white;

    /* opacity: 1; */
}

.buttonDown {
    background-color: darkblue;
    
}